@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*     <!--- Colours --->         */
    .navbar {
     background: rgba(61, 41, 27, 0.7);
     font-family: "Open Sans", sans-serif;
     font-weight: 700;
    
     }
     .navbar .navbar-brand {
        color: #ffffff;
    }
     .navbar .nav-item .nav-link {
        color: #ffffff;
    }
     .navbar .nav-link:hover {
        color: black
    }
    .navbar .navbar-brand:hover {
        color: #ffffff;
    }
     .navbar .nav-item.active .nav-link {
         color: #775a5a;
     }
     .navbar-toggler {
         background-color: #ffffff;
     }

     footer {
         color: #ffffff;
         background-color: rgba(61, 41, 27, 0.7);
        
     }
     .btn .btn-contact {
        background-color: rgba(61, 41, 27, 0.7);
        color: #ffffff;        
     }
    #text-area {
       
        background-color: rgba(61, 41, 27, 0.7);      
     }
    .container .form-group ::placeholder {        
        color: #fff;
         
     }

     /* Nav Styling */

     .nav-link {
    padding: 0;
     }        
    
       /* Html */

       html {
           height: 100%;
       }   
       
     /* Footer */
    
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        text-align: center;
     }
     
     footer .container-fluid-index {
         width: 100%;
     }
     footer {
         margin-top: auto;
     }

     footer li i{
         font-size: 1.5em;
     }
    
     /* Background image */

          #background-picture {
         height: 100%;
     }
     /* Body styling*/ 

     .index {
         background: url(../web-images/building-tools.jpg) no-repeat center center fixed;
         position: relative;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
        height: 100%;
     }
       body {
         margin: 0 auto;
         font-family: "Exo" sans-serif;
         display: flex;
         flex-direction: column;
         max-height: 100%;
         max-width: 100%;
         
          }
         
      .my-container {
            /*border: 1px solid #008000;*/
            margin-top: 0 auto ;
        }
      .my-col {
          /*border: 3px dotted blue;*/
          text-align: center;
          width: 70%;
          max-width: 400px;
          padding: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
          background-color: rgba(61, 41, 27, 0.7);
          color: white;
      }
      .my-col-btn {
        /* border: 3px dotted blue;*/
           text-align: center;
           width: 70%;
           max-width: 200px;
           padding: 20px;
           margin-top: 20px;
           margin-bottom: 20px;
       }
       
       .my-row-btn {
         /*border: 3px solid red;*/
           height: 100px;
       }   
     
     .text-align {
     color: #ffffff;
     background-color: rgba(61, 41, 27, 0.7);    
     padding: 20px;
     margin-left: 0;
     border-right: 0;
     text-align: center;
     margin-top: 50px;   
     
    }
    .text-align-left {
        width: max-content;
    }

    .text-align-right {
        width: max-content;
    }
    

    .line-style {
        width: 70%;
        size: 10;
        height:5px;
        border-width:0;
        color:#ffffff;
        background-color:#ffffff;
        margin-top: 50px;
    }
    /* Button styling  */

    .container .btn {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 16px 16px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(61, 41, 27, 0.7);
  text-align: center; 
  margin-top: 50px;
  margin-bottom: 50px;
}

.container .btn:hover {
  text-decoration: none;
    background-color: rgba(61, 41, 27, 0.9);
  color: white;
}
main .container a:hover {
 text-decoration: none;
}
  

 

  /* About us  */    
  
 /* Image style */ 

.bg-image{ 
  background-image: url("../web-images/people_on_roof.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
 background-size: cover;
  margin: 0;
  height: 90vh;
  width: 100vh;
  clear: both;
}
/* centering page */
.side-about {
  margin: 50px 0px 50px 0px
}
.side-about-paragraph {
  margin: 50px;
}
#header-about {
  margin-top: 50px;
}
 /* Button style*/
 a:hover {
   text-decoration: none;
 }

.btn-about {
  margin: 50px auto;
  position: relative;
  top: 50%;
  outline: none;
  font-size: 5vh;;
  padding: 16px 16px 16px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(61, 41, 27, 0.7);
  text-align: center; 
  text-decoration: none;
  width: max-content;
  }

  .btn-contact-about {
    margin-top:50px;
    outline: none;
    text-decoration: none;
  }
  .btn-about h3 {
      color: #ffffff;
  }
  .container h2 {
      margin-top: 50px;
  }

  .container .btn-about:hover {
  text-decoration: none;
    background-color: rgba(61, 41, 27, 0.9);
  color: white;
}

  /* Underline style */
  .line-style-about {
       width: 70%;
        size: 10;
        height:5px;
        border-width:0;
        color:rgba(61, 41, 27, 0.7);
        background-color:rgba(61, 41, 27, 0.7);
        margin-top: 20px;
        margin-bottom: 50px;
  }
.container p {
    font-size: larger;
}
/* Gallery */



/* Carousel */

.carousel-inner {
  width:80%;
  margin: auto;
  margin-top: 50px;
    }

/* Gallery styling */

#gallery-text {
    text-align: center;
    color: #ffffff;
    background-color: rgba(61, 41, 27, 0.7);
    width: max-content;
    margin: 50px auto;
    }

    /* Contact us */
    
    .index-contact-us {
  background: url(../web-images/pexels-cottonbro-tools_and_light-bulb.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: 25% 80%;
}    
    #contact-us-style {
        color: #ffffff;
        background-color: rgba(61, 41, 27, 0.7);
        padding-bottom: 50px;
    }
    
    #text-area {
        font-size: larger;
        text-align: center;
    }

    .container .form-group input{
    color: #ffffff;
}
/* responsive font size*/
h1 {
  font-size: 3vh;
}
h2 {
  font-size: 4.5vh;
}
p {
  font-size: 2vh; 
}
h3 {
  font-size: 2.5vh;
}
h4 {
  font-size: calc(18px + 1.2vh);
}

/* media query */

@media screen and (min-width: 711px) {
  main h2 {
    
    padding: 20px;
  }
  .container .btn {
       margin-top: 50px;
  margin-bottom: 50px;
  }
}

  @media screen and (max-width: 710px) {
 main h2{
    
    padding: 50px 10px 20px 10px;
  }
  header h1 {
     font-size: 24px; 
  }
}

@media screen and (max-width: 1010px) {
 #hiding {
    display: none;
  }
}


@media screen and (max-width: 1010px) {
 .text-right {
   clear: both;
  }
}

@media screen and (max-width: 500px) {
 .text-right h7 {
    display: none;
  }
}
@media screen and (min-width: 1011px) {
  .my-container {
          margin: 100px auto;
          padding-top: 80px;
   }}
   @media screen and (min-width: 1011px) {
   .my-row {
     height: 400px;
   }}