@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*     <!--- Colours --->         */
     .navbar {
     background: rgba(61, 41, 27, 0.5);
     font-family: "Open Sans", sans-serif;
     font-weight: 700;
    
     }
     .navbar .navbar-brand {
        color: #ffffff;
    }
     .navbar .nav-item .nav-link {
        color: #ffffff;
    }
     .navbar .nav-link:hover {
        color: black
    }
    .navbar .navbar-brand:hover {
        color: #ffffff;
    }
     .navbar .nav-item.active .nav-link {
         color: rgb(163, 156, 156);
     }
     .navbar-toggler {
         background-color: #ffffff;
     }

     footer {
         color: #ffffff;
         background-color: rgba(61, 41, 27, 0.5);
        
     }
     .btn .btn-contact {
        background-color: rgba(61, 41, 27, 0.5);
        color: #ffffff;        
     }
    
       /* Html */

       html {
           height: 100%;
       }
     

     /* Footer */
     
     footer .container {
         width: 100%;
     }
     footer {
         margin-top: auto;
     }

     footer li i{
         font-size: 1.5em;
     }
    
     /* Background image */

          #background-picture {
         height: 100%;
     }
     /* Body styling*/ 

     body {
         background: url(../web-images/building-tools.jpg) no-repeat center center fixed;
         position: relative;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
     }
     body {
         margin: auto;
         font-family: "Exo" sans-serif;
         display: flex;
         flex-direction: column;
         max-height: 100%;
         max-width: 100%;
         
          }
         
     .container {
     display: grid;
     min-height: 90vh;
     grid-gap: 20px;
     justify-items: center;
     align-items: center;
     justify-content: center;
     align-content: center;
   
     }
     .text-align {
     color: #ffffff;
     background-color: rgba(61, 41, 27, 0.7);
    
     padding: 20px;
     margin-left: 0;
     border-right: 0;
     text-align: center;
     margin-top: 50px;    
    }
    /* Button styling  */

    .container .btn {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 16px 16px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  min-height: 100px;
  background-color: rgba(61, 41, 27, 0.7);
  align-self: center;
 
}

.container .btn:hover {
  text-decoration: none;
    background-color: rgba(61, 41, 27, 0.9);
  color: white;
}
main .container a:hover {
 text-decoration: none;
}
  

/* media query */

@media screen and (min-width: 711px) {
  main h2 {
    font-size: 50px;
    padding: 20px;
  }
}

  @media screen and (max-width: 710px) {
 main h2{
    font-size: 24px;
    padding: 0;
  }
}

@media screen and (max-width: 710px) {
 #hiding {
    display: none;
  }
}

@media screen and (max-width: 710px) {
 .text-right {
   clear: both;
  }
}

        
        